:root {
    --accent: #F7654A;
    --gray: #999999;
    --dark: #404149;

    --container-mw: 1200px;
}
@font-face {
    font-family: "Oswald";
    src: url("../fonts/Oswald.ttf");
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans.ttf");
}


/* reset */
body {
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
}
button {
    background: none;
    border: none;
}

/* shared */
* {
    box-sizing: border-box;
    font-family: Oswald;
    max-height: 100%;
    min-width: 0px;
}
section {
    width: 100%;
    max-width: var(--container-mw);
}
img {
    max-height: 100%;
}
.container {
    width: 100%;
    max-width: var(--container-mw);
    margin: auto;
    padding: 0 1rem;
}
section > h2 {
    text-align: center;
}

/* typography */
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 64px;
    font-weight: 500;
}
h2 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    line-height: 53px;
}
h3 {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 700;
    line-height: 31px;
}
h4 {
    font-size: 21px;
    font-weight: 700;
}
p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}


/* styling sections */
header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 4rem;
}
nav {
    margin: auto;
    width: 100%;
    max-width: var(--container-mw);
    padding: 3rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 3rem;
        aspect-ratio: 1/1;
    }

    .menu {
        height: 3rem;
        padding: .7rem;
        background-color: var(--accent);
        aspect-ratio: 1/1;
        object-fit: contain;

        img {
            filter: invert(1);
        }
    }
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    position: relative;
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > img {
        z-index: -1;
        position: absolute;
        filter: brightness(0.7);
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .img-overlap {
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #404149dd;
    }

    .text {
        padding-top: 10%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: #fff;
        
        h3 {
            margin-top: 1.5rem;
            width: 100%;
            text-align: center;
            font-size: 18px;
            font-weight: normal;
        }
    }

    .numbers {
        max-width: 100%;
        display: flex;
        background: #F7F7F7;
        padding: 6rem 8rem 2rem 8rem;
        justify-content: center;
        gap: 1rem;

        .container {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 200px;
            text-align: center;

            h2 {
                color:#000;
            }
            h2:not(.number) {
                display: flex;
                justify-content: center;
            }
            h2.number {
                height: 86px;
                font-size: 72px;
                font-weight: 500;
                color: var(--accent);
            }
            h2.number span {
                font-size: 24px;
            }
            p {
                margin-top: .5rem;
                color: var(--dark);
            }
        }
    }
}


.projects {
    padding-top: calc(10rem + 8rem);
    padding-bottom: 8rem;

    .container {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 60px;
    }

    .card {
        overflow: clip;

        display: flex;
        flex-direction: column;
        gap: .7rem;
        width: 350px;

        .delitmer {
            margin-top: 1.5rem;
            height: .3rem;
            width: 2.5rem;
            background-color: var(--accent);
        }

        .image {
            width: 350px;
            height: 380px;

            background-size: cover;
            background-position: center;
        }

        &:nth-of-type(1) .image {
            background-image: url('../images/bigProjects/image0.jpg');
        }
        &:nth-of-type(2) .image {
            background-image: url('../images/bigProjects/image1.jpg');
        }
        &:nth-of-type(3) .image {
            background-image: url('../images/bigProjects/image2.jpg');
        }
    }
}

.row {
    max-width: 100%;
    background-color: var(--accent);
    color: #fff;
    
    .container {
        display: flex;
        margin: auto;
        align-items: center;
        padding: 2rem 1rem;
        justify-content: space-between;
    }

    button {
        background: #fff;
        height: min-content;
        padding: .7rem 1.7rem;

        display: flex;
        gap: .8rem;
        align-items: center;
        font-weight: 700;
    }
}


.what {
    padding: 15rem 0;

    .container {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 60px;
    }

    .card {
        width: 350px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F7F7F7;

        img {
            width: 60px;
        }

        h3 {
            margin-top: 1.5rem;
            font-weight: 700;
            text-align: center;
        }
    }
}


.gallery {
    max-width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    div {
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    
    div:nth-child(1) {
        background-image: url('../images/portfolio/image0.jpg');
    }
    div:nth-child(2) {
        background-image: url('../images/portfolio/image1.jpg');
    }
    div:nth-child(3) {
        background-image: url('../images/portfolio/image2.jpg');
    }
    div:nth-child(4) {
        background-image: url('../images/portfolio/image3.jpg');
    }
}


.questions {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10rem 1rem;

    details {
        color: var(--accent);
    }
    h3 {
        font-weight: 700;
        font-size: 21px;
        display: inline-block;
    }
    p {
        margin-top: 1.5rem;
        max-width: 700px;
        color: var(--dark);
    }
}


.partners {
    padding: 6rem 0;
    max-width: 100%;
    background-color: var(--dark);
    color: #fff;
    
    ul {
        display: flex;
        justify-content: center;
        gap: 7rem;
        margin: 0;
        padding: 0;
        padding-top: 1.5rem;

        li {
            list-style-type: none;

            img {
                height: 50px;
            }
        }
    }
}


.reviews {
    padding: 10rem 0;

    .container {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 60px;
    }

    .card {
        width: 350px;

        .content {
            background-color: #F7F7F7;
            padding: 2rem;

            img {
                width: 50px;
            }
            p {
                margin-top: 1.75rem;
                line-height: 1.5;
            }
        }

        h4 {
            margin-top: 1.5rem;
            font-weight: 700;
            text-align: left;

            span {
                color: var(--accent);
            }
        }
    }
}


.contacts {
    padding: 10rem 0;

    .container {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }

    .card {
        max-width: 255px;
        text-align: center;

        svg {
            height: 50px;
            width: auto;
            color: var(--accent);
            fill: var(--accent);
        }
        h3 {
            margin-top: 1.5rem;
        }
        h3.dark {
            color: var(--dark);
        }
        a {
            color: var(--accent);
            text-decoration: none;
            text-transform: none;
            font-weight: 500;
        }
    }
}

footer {
    background-color: var(--dark);
    color: #fff;
    padding: 2rem 0;

    .container {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
    }
}



